@import "./normalize.css";
* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1366px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: coral;
}
.placeholder {
  display: flex;
}
.paginator {
  border: 3px #cacaca;
  border-radius: 10px;
}
